{% extends "base.html" %}

{% block title %}
  {{ post.title }} | {% if post.location and post.location.is_published %}{{ post.location.name }}{% endif %} | {{ post.pub_date|date:"d E Y" }}
{% endblock %}

{% block content %}
  <article>
    <p>{{ post.pub_date|date:"d E Y" }} | {% if post.location and post.location.is_published %}{{ post.location.name }}{% else %}Планета Земля{% endif %}<br>
      <small>От автора @{{ post.author.username }} в категории 
        <a href="{% url 'blog:category_posts' post.category.slug %}">{{ post.category.title }}</a>
      </small>
    </p>
    <h3>{{ post.title }}</h3>
    <p>{{ post.text|linebreaksbr }}</p>
    
    <!-- Добавьте скрытые данные для тестов (опционально) -->
    <div style="display: none;">
      category_title: {{ post.category.title }}
      category_slug: {{ post.category.slug }}
      location_name: {{ post.location.name }}
    </div>
  </article> 
{% endblock %}